[Unit]
Description=rest api service for gpio state access
After=network.target

[Service]
ExecStart=/usr/bin/rpi_rest_api.py
Restart=always
User=pi

[Install]
WantedBy=multi-user.target