[Unit]
Description=rest api service for gpio state access
After=network.target

[Service]
ExecStart=/usr/bin/rpi_control.py
Restart=always
User=erostamas

[Install]
WantedBy=multi-user.target